[defaults]
interpreter_python = auto_legacy_silent

remote_user = ansible
host_key_checking = false
inventory = inventory
#gather_facts = no
# callbacks_enabled = ansible.posix.profile_tasks

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = false

# [ssh_connection]
# ssh_args = -0 ControlMaster=auto -o ControlPersist=120s
# pipelining = true
